language: csharp
solution: Simple.HttpClientFactory.sln
mono: none
dist: bionic
dotnet: 5.0.100
services:
- docker
install:
  - docker pull gittools/gitversion:5.3.5-linux-alpine.3.10-x64-netcoreapp3.1
  - dotnet new tool-manifest
  - dotnet tool install --local dotnet-sonarscanner
  - dotnet restore
before_script:
- git fetch --prune
- export GitVersion_FullSemVer=$(docker run --rm -v "$(pwd):/repo" gittools/gitversion:5.3.5-linux-alpine.3.10-x64-netcoreapp3.1 /repo -output json -showvariable FullSemVer)
- echo "GitVersion generated '$GitVersion_FullSemVer'"
script:
- bash ./tools/travis-ci-build.sh
- bash ./tools/travis-ci-publish-nuget.sh
