language: csharp
solution: Simple.HttpClientFactory.sln
mono: none
dist: bionic
dotnet: 5.0.100
install:
  - dotnet new tool-manifest
  - dotnet tool install --local dotnet-sonarscanner
  - dotnet restore
script:
- bash ./tools/travis-ci-build.sh
