name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Generate certificate for SSL tests     
      run: |
        openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout ./localhost.key -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=www.example.com" -out ./localhost.crt -config ./localhost.conf
        openssl pkcs12 -export -out ./localhost.pfx -inkey ./localhost.key -in ./localhost.crt
        sudo cp ./localhost.crt /usr/local/share/ca-certificates
        sudo update-ca-certificates
        openssl verify localhost.crt
        dotnet user-secrets --project ./Simple.HttpClientFactory.Tests/Simple.HttpClientFactory.Tests.csproj set "Kestrel:Certificates:Default:Path" "localhost.pfx"
        dotnet user-secrets --project ./Simple.HttpClientFactory.Tests/Simple.HttpClientFactory.Tests.csproj set "Kestrel:Certificates:Default:Password" ""
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
