name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core 3.1
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Setup .NET Core 2.0
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.202
    - name: Generate self-signed certificate (for test using SSL)
      run: |
        openssl req -x509 -nodes -days 365 -newkey rsa:2048 -keyout ./localhost.key -passin pass:1234 -subj "/C=US/ST=Denial/L=Springfield/O=Dis/CN=www.example.com" -out ./localhost.crt -config ./localhost.conf
        openssl pkcs12 -export -out ./localhost.pfx -inkey ./localhost.key -in ./localhost.crt -passout pass:1234
        sudo cp ./localhost.crt /usr/local/share/ca-certificates
        sudo update-ca-certificates
        sudo cp ./localhost.pfx /usr/local/share/ca-certificates
        openssl verify localhost.crt
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore
      env:
        ASPNETCORE_Kestrel__Certificates__Default__Path: "/usr/local/share/ca-certificates/localhost.pfx"
        ASPNETCORE_Kestrel__Certificates__Default__Password: "1234"
