name: Linux Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1.4.0
      with:
        dotnet-version: 2.1.202
    - name: Install dependencies
      run: dotnet restore
    - name: Build NetCore 2.0
      run: dotnet build --configuration Release --framework netcoreapp2.0
    - name: Build NetCore 2.1
      run: dotnet build --configuration Release --framework netcoreapp2.1
    - name: Test NetCore 2.0
      run: dotnet test --verbosity normal  --framework netcoreapp2.0
    - name: Test NetCore 2.1
      run: dotnet test --verbosity normal  --framework netcoreapp2.1
