name: NuGet

on:
  push:
    branches: [ master ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout from git
      uses: actions/checkout@v1

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100

    - name: Build
      run: dotnet build --configuration Release

    - name: Run unit tests
      run: dotnet test --configuration Release
      
    - name: Fetch tags for GitVersion
      run: git fetch --tags

    - name: Fetch master for GitVersion
      if: github.ref != 'refs/heads/master'
      run: git branch --create-reflog master origin/master

    - name: GitVersion
      id: gitversion  # step id used as reference for output values
      uses: roryprimrose/rungitversion@v1.0.0
      
    - name: Generate nuget package
      run: dotnet pack --configuration Release -o nupkg -p:Version="${{ steps.gitversion.outputs.NuGetVersionV2 }}" ./Simple.HttpClientFactory/Simple.HttpClientFactory.csproj 
      
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: ./nupkg/*.nupkg
        path: "${{ steps.gitversion.outputs.NuGetVersionV2 }}"

    - name: Publish nuget package
      run: find . -name *.nupkg -type f -print0 | xargs -0 -I pkg dotnet nuget push pkg -k $nuget_api_key -s "https://api.nuget.org/v3/index.json" --skip-duplicate
      env:
        nuget_api_key: ${{ secrets.NUGET_API_KEY }}      
